<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Seberapa Pantas</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/calon">
          <img src="img/calon.jpg" alt="" width="23px" height="23px" >
          <span style="vertical-align : top;font-size: 13pt">Calon</span>
        </ion-item>
        <ion-item menu-close href="#/app/partai">
          <img src="img/partai.jpg" alt="" width="23px" height="23px" >
          <span style="vertical-align : top;font-size: 13pt">Partai</span>
        </ion-item>
        <ion-item menu-close href="#/app/sengketa">
          <img src="img/sengketa.jpg" alt="" width="23px" height="23px" >
          <span style="vertical-align : top;font-size: 13pt">Sengketa</span>
        </ion-item>
        <ion-item menu-close href="#/app/anggaran">
         <img src="img/anggaran.jpg" alt="" width="23px" height="23px" >
          <span style="vertical-align : top;font-size: 13pt">Anggaran</span>
        </ion-item>
        <ion-item menu-close href="#/app/faq">
          <img src="img/faq.jpg" alt="" width="23px" height="23px" >
          <span style="vertical-align : top;font-size: 13pt">FAQ</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
